{% extends "boletos/base.html" %}
{% block title %}Lista de Boletos{% endblock %}

{% block content %}
<h2 class="h4 text-primary mb-3">🎫 Boletos registrados</h2>

<div class="row g-3">
  {% for boleto in boletos %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
            <a href="{% url 'detalle_boleto' boleto.pk %}" class="text-decoration-none text-dark">
          <h5 class="card-title">{{ boleto.nombre_pasajero }}</h5>
          <p class="card-text">
            Destino: <strong>{{ boleto.destino }}</strong><br>
            Fecha: {{ boleto.fecha_viaje }}<br>
            Bus: {{ boleto.bus }}
          </p>
          <a href="{% url 'detalle_boleto' boleto.pk %}" class="btn btn-sm btn-primary">Ver Detalles</a>
          </a>
        </div>
      </div>
    </div>
  {% empty %}
    <div class="col-12">
      <div class="alert alert-info">No hay boletos registrados.</div>
    </div>
  {% endfor %}
</div>
{% endblock %}